@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
    --placeholder-color: #adb5bd;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* изменено на center */
    align-items: center;
    position: relative;
    overflow-y: auto; /* добавлено */
}

.form-column {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 0 10px;
    margin-bottom: 0.1rem;
}

.form-control {
    border-radius: 10px;
}

.form-group {
    margin-bottom: 0.1rem;
}

.form-label {
    font-size: 0.85em;
    color: #6c757d;
    margin-bottom: 0.1rem;
}

.positions-separator {
    margin-bottom: 2.5rem;
}

.positions-separator::after {
    content: '';
    display: block;
    margin-top: 1rem;
    border-bottom: 2px solid #6c757d;
    border-radius: 5px;
}

.form-group + .form-group {
    margin-top: 10px;
}

.delivery-type-group {
    margin-left: 10px;
    margin-top: 10px;
}

.btn-sm {
    width: 25px;
    height: 25px;
    padding: 0;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px; /* уменьшить отступы между кнопками */
}

.quantity-col {
    display: flex;
    align-items: center;
}

.quantity {
    width: 30px; /* ширина для текста количества */
    text-align: center;
}

.custom-file-input-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.file-input {
    width: 100%;
    height: 44px;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    z-index: 2; /* Добавлено */
}

.custom-file-input-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border-radius: 10px;
    cursor: pointer;
    width: calc(100% - 20px);
    text-align: center;
    border: none;
    position: relative;
    z-index: 1;
}

.custom-file-input-button:hover {
    background-color: #0056b3;
}

/* Переопределяем стиль контейнера подсказок */
.ui-autocomplete {
    max-height: 200px; /* Максимальная высота списка */
    overflow-y: auto; /* Включение вертикальной прокрутки */
    overflow-x: hidden; /* Отключение горизонтальной прокрутки */
    z-index: 1000; /* Приоритет слоя */
}

/* Фиксированное пространство под кнопкой, примерно равно высоте клавиатуры */
#keyboardSpacer {
    height: 346px; /* Ориентировочная высота клавиатуры в портретном режиме */
}


button[type="submit"] {
    display: block;
    margin: 0 auto;
    width: 75%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 1rem;
    color: #31333f;
}

.new-request-heading {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 10px; /* Добавьте отступ сверху */
    margin-bottom: 2px; /* Отступ снизу для разделения от формы */
    position: static; /* Убедитесь, что заголовок не фиксирован */
}

@media (min-width: 768px) {
    .form-column {
        width: 49%;
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрирование содержимого по вертикали */
    align-items: center;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

#center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Центрирование содержимого по вертикали */
    width: 100%;
    flex-grow: 1;
}

#task_data {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    color: #31333f;
    padding: 20px;
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-hide {
    background-color: #ffffff;
    border: 2px solid #ff4d4d;
    color: #31333f;
}

.btn-hide:hover {
    background-color: #ffe6e6;
}

.btn-complete {
    background-color: #007bff;
    color: #ffffff;
}

.btn-complete:hover {
    background-color: #0056b3;
}

#message {
    font-size: 1.5rem;
    color: #31333f;
    position: fixed; /* изменено на fixed */
    bottom: 20px;
    width: 100%;
    text-align: center;
}
