@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
* {
    font-family: 'Source Sans Pro', sans-serif;
    }

:root {
    --placeholder-color: #adb5bd;
}

body {
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: auto;
}

.grid-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 0.3rem;
    border-radius: 10px;
    margin: 1rem;
    position: relative;
}

.grid-item label {
    font-weight: bold;
    margin-left: 0.5rem;
}

.mattress-option-label {
    display: inline-block; /* Элемент теперь может принимать установленную ширину */
    margin-bottom: 0rem;
    margin-top: 0.5rem;
}

.file-field {
    height: 110%
}

.position-label {
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 0.7rem;
    width: 75%;
}

.grid-item input {
    width: 100%; /* Занимает всю ширину родительского элемента */
    margin-bottom: 0.5rem; /* Отступ снизу для каждой строки */
}

.form-row {
    display: flex;
    flex-wrap: wrap; /* Позволяет переносить элементы на следующую строку, если не помещаются */
    gap: 0.5rem; /* Расстояние между полями */
}

.form-row label {
    font-size: 0.65em;
    color: #6c757d;
    margin-left: 0.2rem;
    margin-bottom: -0.3rem;
}

.form-group {
    flex: 1 1 30%; /* Элементы занимают 30% от ширины контейнера, могут изменяться */
    min-width: 200px; /* Минимальная ширина для обеспечения видимости */
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%; /* Занимает всю ширину родительского элемента */
}

.form-control {
    border-radius: 10px;
}

.form-control input file {
    border-radius: 0px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-label {
    font-size: 0.85em;
    color: #6c757d;
    margin-bottom: 0.1rem;
}

.form-group + .form-group {
    margin-top: 10px;
}

.delivery-type-group {
    margin-top: 10px;
}

.btn-sm {
    width: 25px;
    height: 25px;
    padding: 0;
    font-size: 0.875rem;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.quantity-col {
    display: flex;
    align-items: center;
}

.quantity {
    width: 30px; /* ширина для текста количества */
    text-align: center;
}

.custom-file-input-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.file-input {
    width: 100%;
    height: 44px;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    z-index: 2; /* Добавлено */
}

.custom-file-input-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border-radius: 10px;
    cursor: pointer;
    width: calc(100% - 20px);
    text-align: center;
    border: none;
    position: relative;
    z-index: 1;
}

.custom-file-input-button:hover {
    background-color: #0056b3;
}

/* Стили для отображения цены под количеством */
.quantity-price-group {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
 }

.price-input {
    margin-top: 5px;
    width: 100%;
}

/* Переопределяем стиль контейнера подсказок */
.ui-autocomplete {
    max-height: 200px; /* Максимальная высота списка */
    overflow-y: auto; /* Включение вертикальной прокрутки */
    overflow-x: hidden; /* Отключение горизонтальной прокрутки */
    z-index: 1000; /* Приоритет слоя */
}

/* Фиксированное пространство под кнопкой, примерно равно высоте клавиатуры */
#keyboardSpacer {
    height: 346px; /* Ориентировочная высота клавиатуры в портретном режиме */
}


button[type="submit"] {
    display: block;
    margin: 0 auto;
    width: 75%;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem;
    color: #31333f;
}

.new-request-heading {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 10px; /* Добавьте отступ сверху */
    margin-bottom: 2px; /* Отступ снизу для разделения от формы */
    position: static; /* Убедитесь, что заголовок не фиксирован */
}

@media (min-width: 768px) {
    .form-column {
        width: 49%;
        grid-template-columns: 1fr;
    }
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрирование содержимого по вертикали */
    align-items: center;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

#center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Центрирование содержимого по вертикали */
    width: 100%;
    flex-grow: 1;
}

#task_data {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    color: #31333f;
    padding: 20px;
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
}
.btn-hide {
    background-color: #ffffff;
    border: 2px solid #ff4d4d;
    color: #31333f;
}
.btn-hide:hover {
    background-color: #ffe6e6;
}
.btn-complete {
    background-color: #007bff;
    color: #ffffff;
}
.btn-complete:hover {
    background-color: #0056b3;
}

/* Стиль для кнопок удаления */
.remove-item {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dc3545; /* Красный фон для кнопки удаления */
    color: #ffffff; /* Белый текст */
    border: none; /* Без бордюра */
    border-radius: 10px; /* Скругление углов */
    font-size: 0.075rem; /* Размер шрифта */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s; /* Плавный переход фона */
}

.remove-item:hover {
    background-color: #c82333; /* Темнее при наведении */
}
.remove-item:focus {
    outline: none; /* Убираем стандартный фокус */
}

#message {
    font-size: 1.5rem;
    color: #31333f;
    position: fixed; /* изменено на fixed */
    bottom: 20px;
    width: 100%;
    text-align: center;
}
