<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/72x72/1f528.png" type="image/png">
    <title>Экран сборки</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1 class="mb-4 font-weight-bold">🔨 Экран сборки</h1>
    <div id="message">>Жду штрих-код...</div>
    <script src="/static/glue_scaner.js"></script>
</body>
</html>
