<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/css/suggestions.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/72x72/1f4c3.png" type="image/png">
    <title>Новая заявка</title>
</head>

<body>
<h1 class="mb-4 font-weight-bold new-request-heading">📋 Новая заявка</h1>
<div class="container mt-3">
    <form method="POST">
        <!-- Первая колонка формы -->
        <div class="form-column">
            <!-- Позиции -->
            <div class="form-group">
                <label for="positionsTable" class="form-label"> </label>

                <input type="text" id="newArticle" name="newArticle" class="form-control" placeholder="Добавить позицию...">
                <input type="hidden" id="positionsData" name="positionsData" value="" required>

                <table class="table" id="positionsTable">
                    <thead>
                    <tr>
                        <th>Позиции</th>
                        <th>Количество</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Строки с позициями будут добавляться здесь -->
                    </tbody>
                </table>
            </div>

            <div class="form-group row">
                <!-- Поле "Размер", с небольшим отступом из невидимых символов  -->
                <div class="col-12 col-md-6">
                    <label for="base_fabric" class="form-label">Ткань - основа      </label>
                    <input type="text" id="base_fabric" name="base_fabric" class="form-control" placeholder="Введите название ткани...">
                </div>
                <!-- Поле "Размер" -->
                <div class="col-12 col-md-6">
                    <label for="side_fabric" class="form-label">Ткань - бочина (необязательно)</label>
                    <input type="text" id="side_fabric" name="side_fabric" class="form-control" placeholder="Оставьте пустым, если ткань как основная">
                </div>
                <!-- Цена ткани на матрас
                    <div class="col-12 col-md-6">
                        <label for="base_fabric_price" class="form-label">Цена ткани на матрас</label>
                        <input type="number" id="base_fabric_price" name="base_fabric_price" class="form-control" step="0.01" placeholder="Цена ткани для одного матраса">
                    </div> -->
            </div>

            <div class="form-group row">
                <!-- Поле "Размер" -->
                <div class="col-12 col-md-6">
                    <label for="springs" class="form-label">Пружинный блок (необязательно)</label>
                    <input type="text" id="springs" name="springs" class="form-control" placeholder="Введите название ПБ...">
                </div>
                <!-- Поле "Размер" -->
                <div class="col-12 col-md-6" id="uniqueMattressSize">
                    <label for="size" class="form-label">Ручное указание размера (необ.)</label>
                    <input type="text" id="size" name="size" class="form-control" placeholder="Длина / Ширина / Высота">
                </div>


                <!-- Цена ткани на матрас
                    <div class="col-12 col-md-6">
                        <label for="side_fabric_price" class="form-label">Цена ткани на матрас</label>
                        <input type="number" id="side_fabric_price" name="side_fabric_price" class="form-control" step="0.01" placeholder="Цена ткани для одного матраса">
                    </div> -->
            </div>

            <!-- Цена ПБ
                <div class="form-group row">
                    <div class="col-12 col-md-6">
                        <label for="springs_price" class="form-label">Цена ПБ</label>
                        <input type="number" id="springs_price" name="springs_price" class="form-control" step="0.01" placeholder="Цена БП для одного матраса">
                    </div>
                </div> -->

            <!-- Комментарий -->
            <div class="form-group">
                <label for="comment" class="form-label">Комментарий ко всему заказу (необязательно)</label>
                <textarea id="comment" name="comment" class="form-control" style="height: 72px;" placeholder="Помимо комментария, можно вручную указать размер, разделив несколько чисел любым символом, например: '90*170' или 200/190/33"></textarea>
            </div>
            <!-- Компания -->
            <div class="form-group">
                <label for="party" class="form-label">Организация</label>
                <input type="text" id="party" name="party" class="form-control" placeholder="Оставьте пустым, если покупатель - физ.лицо.">
                <input type="hidden" id="party_data" name="party_data" class="form-control" value="">
            </div>
            <!-- Фото -->
            <div class="form-group">
                <label for="photo" class="form-label">Прикрепить фото (JPEG, JPG • Не больше 20 Мб)</label>
                <div class="custom-file-input-wrapper">
                    <input type="file" id="photo" name="photo" class="file-input" accept=".jpg">
                    <button type="button" class="custom-file-input-button">📁 Прикрепить файл ☁️</button>
                </div>
                <div id="file-error" class="text-danger mt-2" style="display: none;">Файл должен быть изображением (JPG, JPEG) и весить не более 20 Мб.</div>
                <input type="hidden" id="photo_data" name="photo_data">
            </div>
        </div>

        <!-- Вторая колонка формы -->
        <div class="form-column">
            <!-- Первая внутренняя колонка формы -->
            <div class="form-column">
                <!-- Срок -->
                <div class="form-group">
                    <label for="delivery_date" class="form-label">Срок до:</label>
                    <input type="date" id="delivery_date" name="delivery_date" class="form-control">
                </div>
            </div>
            <!-- Вторая внутренняя колонка формы -->
            <div class="form-column">
                <!-- Предоплата -->
                <div class="form-group">
                    <label for="prepayment" class="form-label">Предоплата</label>
                    <input type="number" id="prepayment" name="prepayment" class="form-control" step="0.01">
                </div>
            </div>
            <!-- Контакт -->
            <div class="form-group">
                <label for="contact" class="form-label">Контакты</label>
                <input type="text" id="contact" name="contact" class="form-control">
            </div>
            <!-- Тип доставки и адрес -->
            <div class="form-group delivery-type-group">
                <label class="form-label">Тип доставки</label>
                <div>
                    <input type="radio" id="pickup" name="delivery_type" value="Самовывоз" checked>
                    <label for="pickup"> 📍 Самовывоз</label>
                </div>
                <div>
                    <input type="radio" id="city" name="delivery_type" value="Город">
                    <label for="city"> 🏡 Город</label>
                </div>
                <div>
                    <input type="radio" id="territory" name="delivery_type" value="Край">
                    <label for="territory"> 🏞️ Край</label>
                </div>
                <div>
                    <input type="radio" id="region" name="delivery_type" value="Регионы">
                    <label for="region"> 🗺️ Регионы</label>
                    <div>
                        <input type="radio" id="country" name="delivery_type" value="Страны">
                        <label for="country"> 🌍 Страны</label>
                    </div>
                </div>
                <!-- Адрес доставки -->
                <div class="form-group" id="address-group" style="display:none;">
                    <label for="delivery_address" class="form-label">Адрес доставки</label>
                    <input type="text" id="delivery_address" name="delivery_address" class="form-control">
                    <input type="hidden" id="address_data" name="address_data" class="form-control" value="">
                </div>
                <!-- Выбор региона доставки -->
                <div class="form-group" id="region-group" style="display:none;">
                    <label for="region_select" class="form-label">Регионы</label>
                    <select id="region_select" name="region_select" class="form-control">
                        <!-- Динамическое заполнение списка регионов -->
                        {% for region in regions %}
                        <option value="{{ region }}">{{ region }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <!-- Кнопка отправки формы -->
        <div class="form-group">
            <button type="submit" id="submitBtn" class="btn btn-primary" disabled>Создать реализацию</button>
        </div>
        <div id="keyboardSpacer"></div> <!-- Пустое пространство -->
    </form>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@22.6.0/dist/js/jquery.suggestions.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/static/index.js"></script>

</body>

</html>
